/**
 * reset
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
    border: 0;
}
html{
    font-size: 100px;
}
body{
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
/*Remove the ios bring their own style*/
input[type="text"], 
input[type="submit"], 
input[type="botton"] {
    -webkit-appearance: none;
    outline: none;
}
/*Remove android&ios a/button/input the border&background around the label is clicked to produce*/
a,
button,
input,
div{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
.clearfix:after{
    display: block;
    content: '';
    height: 0;
    width: 0;
    overflow: hidden;
    clear: both;
}
.clearfix{
    zoom:1;
}

/**
 * variable
 */
$uui-light-green: #8cc800;
$uui-green: #36a664;
$uui-brand-yellow: #ea5404;
$uui-yellow: #ff8100;

/**
 * page index 
 * author: hanjie;
 */