* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a {
    text-decoration: none; 
}

li {
    list-style: none; 
}

img {
    vertical-align: middle;
    border: 0; 
}

html {
    font-size: 100px; 
}

body {
    font-size: 16px;
    font-family: "Helvetica Microsoft YaHei";
    background: #F6F6F6; 
}

/*Remove the ios bring their own style*/
input[type="text"],
input[type="submit"],
input[type="botton"] {
    -webkit-appearance: none;
    outline: none; 
}

/*Remove android&ios a/button/input the border&background around the label is clicked to produce*/
a,
button,
input,
div {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0); 
}

.clearfix:after {
    display: block;
    content: '';
    height: 0;
    width: 0;
    overflow: hidden;
    clear: both; 
}

.clearfix {
    zoom: 1; 
}

/*font color*/
/**
 * page index 
 * author: hj;
 */
.love-container {
    max-width: 750px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto; 
}

/*mbanner-top*/
.mbanner-top{
    width: 100%;
    height: .1rem;
    background: #EAEAEA;
    border:.01rem solid #E0E0E0;
}


/*love-header*/
.love-header{
    width: 100%;
    height: 3rem;
    overflow: hidden;
    position: relative;
}
.love-header-swiper{
    width: 100%;
    height: 100%;
}
.love-header .love-header-sign{
    width: 100%;
    height: .5rem;
    position: absolute;
    top:.06rem;
}
.love-header .love-header-icon{
    float: left;
    margin-left: .06rem;
}
.love-header .love-header-car{
    margin-right: .06rem;
    float:right;
}
.love-header .love-header-icon .header-icon-return,
.love-header .love-header-car .header-icon-shopcar{
    height: .3rem;
    width: .3rem;
    line-height: .3rem;
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: .16rem;
    background: rgba(0, 0, 0, 0.4);
    float: left;
}
.love-header .love-header-icon .header-icon-return{
    text-indent: -.04rem;
}
.love-header .love-header-ordina{
    width: .36rem;
    height: .16rem;
    position: absolute;
    bottom: .06rem;
    right: .06rem;
    border-radius: .3rem;
    background: rgba(0, 0, 0, 0.298039);
    color: rgb(255, 255, 255);
    line-height: .16rem;
    text-align:center;
    font-size: .1rem;
}


/*love-ntroduce*/
.love-ntroduce{
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #ffffff;
}
.love-ntroduce .love-ntroduce-title{
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    color: #444444;
    font-size: .14rem;
    text-align: center;
    /**/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.love-ntroduce .love-ntroduce-content{
    width: 100%;
    height: 1.4rem;
    padding: 0 .06rem;
    line-height: .24rem;
    text-align: center;
    font-size: .12rem;
    color: #999999;
    /**/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.love-ntroduce .love-ntroduce-price{
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
}

.love-ntroduce .love-ntroduce-price .price-now{
    font-size: .2rem;
    font-weight: 800;
    color: #444444;
    margin-right: .05rem;
    vertical-align: bottom;
}
.love-ntroduce .love-ntroduce-price .price-before{
    position: relative;
    top: .022rem;
    text-decoration: line-through;
    color: #999999;
    margin-right: .05rem;
    vertical-align: bottom;
}
.love-ntroduce .love-ntroduce-price .price-sale{
    background: #F13E3A;
    color: #ffffff;
    padding: .02rem .04rem;
    font-size: .1rem;
    vertical-align: bottom;
}
.love-ntroduce .love-ntroduce-other{
    width: 2rem;
    height: .24rem;
    margin: 0 auto;
    text-align: center;
}
.love-ntroduce .love-ntroduce-other span{
    color: #A8A8A8;
    font-size: .1rem;
    padding:0 .2rem;
}
.love-ntroduce .love-ntroduce-other .other-sale{
    border-left: .01rem solid  #A8A8A8;
} 


/*.love-download*/
.love-download {
    width: 100%;
    background:#FAFAFA;
}
.love-download .love-download-app{
    width: 100%;
    overflow: hidden;
}
.love-download .love-download-app a img{
    width: 100%;
    border-bottom: .01rem solid #E0E0E0
}
.love-download .love-download-more{
    width: 100%;
    height: .32rem;
    line-height: .32rem;
    background: #FAFAFA;
    padding: 0 .08rem;
    
}
.love-download .love-download-more .download-more-full1{
    float: left;
    font-size: .1rem;
}
.love-download .love-download-more .download-more-full2{
    float: right;
}
.love-download .love-download-more .download-more-full2 a{
    color: #676767;
    font-size: .1rem;
}
.love-download .download-more-mark{
    display: inline-block;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


.love-coupon{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    opacity: 0;
    transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    /*display: none;*/
}
.love-coupon .love-coupon-concessions{
    background: #ffffff;
    width: 90%;
    border-radius: .05rem;
}
.love-coupon .love-coupon-concessions h1{
    text-align: center;
    color: #f95578;
    font-size: .13rem;
    line-height: .3rem;
    border-bottom: .01rem solid #e1e1e1;
}
.love-coupon .love-coupon-concessions ul li{
    border-bottom: .01rem solid #e1e1e1;
    padding: 0 .1rem;
}
.love-coupon .love-coupon-concessions ul li span{
    color: #5E5E5E;
    line-height: .3rem;
    font-size: .1rem;
}
.love-coupon .love-coupon-concessions ul li a{
    display: inline-block;
    width: .5rem;
    height: .2rem;
    border:.01rem solid #FF5777;
    float: right;
    line-height: .2rem;
    margin-top: .07rem;
    text-align: center;
    color: #f95578;
    border-radius: .03rem;
    font-size: .1rem;
}
.love-coupon .love-coupon-concessions .love-coupon-ok{
    
    padding: .1rem 0;
    text-align: center;
}
.love-coupon .love-coupon-concessions .love-coupon-ok span{
    display: inline-block;
    /*text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;*/
    border: none;
    width: 1.1rem;
    height: .3rem;
    line-height: .3rem;
    color: #ffffff;
    border-radius: .02rem;
    font-size: .13rem;
    text-align: center;
    background: #f95578;
}


.love-mask{
    /*display:none;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
}


 /*love-appraise*/
.love-appraise{
    background: #ffffff;
    width: 100%;
}
.love-appraise .love-appraise-total{
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    background: #ffffff;
    border-bottom: .01rem solid #E0E0E0;
    padding: 0 .08rem;
}
.love-appraise .love-appraise-total .appraise-total-count{
    float: left;
}
.love-appraise .love-appraise-total .appraise-total-count a{
    font-size: .1rem;
    color:#000000;
}
.love-appraise .love-appraise-total .appraise-total-more{
    float: right;
    
}
.love-appraise .love-appraise-total .appraise-total-more .download-more-mark{
    display: inline-block;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.love-appraise .love-appraise-total .appraise-total-more a{
    color: #676767;
    font-size: .1rem;
}

.love-appraise .love-appraise-details{
    width: 100%;
    height: auto;
    border-bottom: .01rem solid #E0E0E0;
    padding:0  .08rem;
}

.love-appraise-details .love-appraise-item1{
    width: 100%;
    border-bottom: .01rem solid #E0E0E0;
}


/*love-collect*/
.love-collect{
    width:100%;
    height: 0.8rem;
    background: #ffffff;
    border-bottom: .01rem solid #E0E0E0;
}
.love-collect .love-collect-marked{
    width: 100%;
    padding:.1rem 0;
    background: #ffffff;
    padding-bottom: .1rem;
}

.love-collect .love-collect-shop{
    float: left;
    padding:0 .1rem;
}
.love-collect .love-collect-shop a img{
    width: .4rem;
    height: .4rem;
    border: .01rem solid #E0E0E0;
}
.love-collect .love-collect-evaluate{

    float: left;
}
.love-collect .love-collect-evaluate .collect-evaluate-name{
    font-size: .12rem;
}
.love-collect .love-collect-evaluate .collect-evaluate-num{
    padding-top: .2rem;
    font-size: .08rem;
    color: #B3B3B3;
}
.love-collect .love-collect-evaluate .collect-evaluate-num .evaluate-num{
    padding-right: .05rem;
}
.love-collect .love-collect-collect{
    padding-right: .2rem;
}
.love-collect .love-collect-collect .love-collect-favorites {
    float: right;
    width: .5rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    border: .01rem solid #000000;
    border-radius: 0.04rem;
    margin-top: .05rem;
}

.love-collect .love-collect-sati ul li{
    display: block;
    float: left;
    width: 33%;
    padding: 0 .05rem;
}
.love-collect .love-collect-sati ul li span{
    font-size: .09rem;
}
.love-collect .love-collect-sati ul li em{
    color:#F1403C;
    font-size: .09rem;
}
.love-collect .love-collect-sati ul li i{
    font-size: .09rem;
    color: #ffffff;
    background:#F1403C;
}


/*love-pinkage*/
.love-pinkage{
    width: 100%;
    height: 1rem;
    background: #ffffff;
}
.love-pinkage .love-pinkage-freight,
.love-pinkage .love-pinkage-all {
    margin-top: .3rem;
    line-height:.3rem; 
    width: 1rem;
    height: .3rem;
    border: 1px solid #AFAFAF;
    text-align: center;
    font-size: .1rem;
}
.love-pinkage .love-pinkage-freight{
    float: left;
   margin-left:.17rem;
}

.love-pinkage .love-pinkage-all{
    float: right;
   margin-right:.17rem;
}


/*love-details*/
.love-details {
    width: 100%;
    background: #ffffff;
    border-bottom: .01rem solid #E0E0E0;  

}
.love-details .love-details-title{
    width: 100%;
    position: relative;
    text-align: center;
    padding: .1rem 0rem;
}
.love-details .love-details-title a{
    display: block;
    float: left;
    width: 33%;
    text-align: center;
}
.love-details .love-details-title a span{
    font-size: .1rem;
    color: #000000;
}
.love-details  .love-details-title .details-title2{
    border-left:.01rem solid #EAEAEA; 
    border-right:.01rem solid #EAEAEA; 

}
.love-details .love-details-line{
    position: absolute;
    top:.3rem;
    left: 0rem;
    background: red;
    width: 33%;
    height: .01rem;
}


/**/
.love-details-all{
    background: #ffffff;
    width:100%;
    height: auto;
}
.love-details-all .details-all{
    padding:.2rem 0;
}
.love-details-all ul li{
    display: none;
}
.love-details-all ul li .details-all-explain{
    width: 100%;
    height: 1.6rem;
    padding: 0 .1rem;
}

.love-details-all ul li .details-all-explain .explain-start{
    display: inline-block;
    width: .5rem;
    height: .01rem;
    background:#AFAFAF;
    float: left;
}
.love-details-all ul li .details-all-explain .explain-text{
    display: inline-block;
    float: left;
    padding: 0.2rem 0px;
    color: rgb(114, 114, 114);
    font-size: .1rem;
}
.love-details-all ul li .details-all-explain .explain-end{
    display: inline-block;
    width: .5rem;
    height: .01rem;
    background:#AFAFAF;
    float: right;
}
.love-details-all ul li .details-all-dress{
    width: 100%;
   
}
.love-details-all ul li .details-all-dress p{
    padding: .1rem .1rem;
    color:rgb(114, 114, 114); 
    font-size: .12rem;
}
.love-details-all ul li .details-all-dress .details-all-img img{
    width: 100%;

}
/*产品参数*/
.love-details-all .details-all-parameter{
    margin-bottom: .4rem;
}
.love-details-all .details-all-parameter .item{
    padding: 0 .1rem;
    display: block;
}
.love-details-all .details-all-parameter .item table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
   
}
.love-details-all .details-all-parameter .item table tbody tr{
    display:table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-bottom: .01rem solid #EAEAEA;
   
}
.love-details-all .details-all-parameter .item table tbody tr td{
    display:table-cell;
    vertical-align: inherit;
    font-weight: 400;
    line-height: .23rem;
    text-align: left;
    color: #727272;
    width: 33%;
    font-size: .1rem;
}
.love-details-all .details-all-parameter .item td:first-child{
    width: 33%;
}
.love-details-all .details-all-parameter .param-list{
    padding: 0 .1rem;
    clear: both;

}
.love-details-all .details-all-parameter .param-list div{
    border-bottom: .01rem solid #EAEAEA;
    height: .23rem;

}

.love-details-all .details-all-parameter .param-list div span{
    display: inline-block;
    line-height: .23rem;
    font-size: .1rem;
    color: #727272; 

}
.love-details-all .details-all-parameter .param-list div .param-list-other{
    color: #EB4B6A;
    width: 1rem;
    margin-left: .15rem;
}
.love-details-all .details-all-parameter .param-list div .param-list-specific{
    width: .5rem;
}
/*热门推荐*/
.love-details-all .details-all .details-all-hot{
    padding: 0 .1rem;
    width: 100%;
    height: auto;
    margin-bottom: .4rem;

}
.love-details-all .details-all .details-all-hot .all-hot-img{
    height: 1.3rem;
    width: .7rem;
    overflow: hidden;
    float: left;
    margin-left: .05rem;
}
.love-details-all .details-all .details-all-hot .all-hot-img a img{
    height: 1rem;
    overflow: hidden;
}
.love-details-all .details-all .details-all-hot .all-hot-img p {
    color: #727272;
    font-size: .09rem;
}
.love-details-all .details-all .details-all-hot .all-hot-img span{
    color: #727272;
    font-size: .09rem;
}
.love-details-all .details-all .details-all-hot .all-hot-img .hot-img-price{
    margin-right: .05rem;
}


.love-foot-bottom{
    width: 100%;
    height: .35rem;
    background: #ffffff;
    /*border-top:.01rem solid  #AFAFAF;*/
    position: fixed;
    bottom: 0;
    z-index: 100;
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.8);
}

.love-foot-bottom .foot-bottom{
    height: .35rem;
}
.love-foot-talk , .love-foot-like ,.love-foot-shopcar{
    display: inline-block;
    height: .3rem;
    vertical-align: middle;
    float: left;

}
.love-foot-bottom .foot-bottom .love-foot-talk,.love-foot-like{
    width: .45rem;
    height: .3rem;
    line-height:.3rem;
    text-align: center;
} 
.love-foot-bottom .foot-bottom .love-foot-talk span{
    display:block;
    font-size: .15rem;
    color:rgb(114, 114, 114);  
}
.love-foot-bottom .foot-bottom .love-foot-like span{
    display:block;
    font-size: .19rem;
    color:rgb(114, 114, 114);
    border-left: .01rem solid #AFAFAF; 
}

.love-foot-bottom .foot-bottom .love-foot-talk .foot-talk{
    font-size: .09rem;
    margin-top: -.18rem;
}
.love-foot-bottom .foot-bottom .love-foot-like .foot-like{
    font-size: .09rem;
    margin-top: -.18rem;
}
.love-foot-bottom .foot-bottom .love-foot-shopcar{
    padding-right: .1rem;
    float: right;
    margin-top:.05rem;
}
.love-foot-bottom .foot-bottom .love-foot-shopcar span{
    border: .01rem solid red;
   
} 
.love-foot-bottom .foot-bottom .love-foot-shopcar .foot-shopcar{
    display: inline-block;
    color: red;
    float: left;
    width: .7rem;
    height: .25rem;
    text-align: center;
    line-height: .25rem;
    font-size: .1rem;

}
.love-foot-bottom .foot-bottom .love-foot-shopcar .foot-shopping{
    margin-left: .1rem;
    display: inline-block;
    width: .7rem;
    height: .25rem;
    line-height: .25rem;
    text-align: center;
    float: right;
    background: red;
    color: #ffffff;
    font-size: .1rem;
}