/**
 * reset
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
    border: 0;
}
html{
    font-size: 100px;
}
body{
    font-size: 16px;
    font-family: "Helvetica Microsoft YaHei";
    background: #F6F6F6;
}
/*Remove the ios bring their own style*/
input[type="text"], 
input[type="submit"], 
input[type="botton"] {
    -webkit-appearance: none;
    outline: none;
}
/*Remove android&ios a/button/input the border&background around the label is clicked to produce*/
a,
button,
input,
div{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
.clearfix:after{
    display: block;
    content: '';
    height: 0;
    width: 0;
    overflow: hidden;
    clear: both;
}
.clearfix{
    zoom:1;
}

/**
 * variable
 */
$love-brand-color: #FF5777;

$love-module-bgcolor: #fff;
$love-module-padding: .08rem;
$love-module-margin: .1rem;

/*font color*/
$love-fc-light-gray: #999;
$love-fc-gray: #666;
$love-fc-dull-gray: #333;

/**
 * page index 
 * author: hj;
 */
.love-container{
    max-width: 750px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

/* PUBLIC mask */
.love-mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: rgba(0,0,0,.6);
}

/**
 * module header
 * author: hj;
 */
.love-header{
    position: fixed;
    top: 0;
    /*left: 0;*/
    z-index: 1000;
    display: -webkit-flex;
    display: -webkit-box;
    width: 100%;
    max-width: 750px;
    line-height: 1.3;
    padding: .05rem .08rem;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    z-index: 200;

    .love-menu-icon{
        display: inline-block;
        font-size: .14rem;
        color: #727272;
    }

    .love-shopcar{
        display: inline-block;
        font-size: .14rem;
        color: #727272;
    }

    .love-header-search{
        display: -webkit-flex;
        display: -webkit-box;
        height: .2rem;
        margin: 0 .05rem;
        padding: 0 .02rem;
        background: #ECECEC;
        color: #5e5e5e;
        overflow: hidden;
    }
    .love-header-search input{
        display: inline-block;
        height: .2rem;
        width: 1.55rem;
        vertical-align: top;
        background: #ECECEC;
        border: 0;
    }

    .love-header-search span{
        font-size: .14rem;
        color: #ccc;
    }
}

/**
 * module left menu
 * author: sj;
 */
.love-left-menu{
    display: none;
    position: absolute;
    top: 0;
    left: -2rem;
    height: 100%;
    width: 2rem;
    background-color: #fff;
    z-index: 2000;
    -webkit-transform: translate3d(-4em,0,0);
     transform: translate3d(-4em,0,0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

/**
 * module 顶部登录
 * author: sj;
 */
.love-top-login {
    padding-top: .3rem;
    position: relative;
    overflow: hidden;

    .form-shunt{
        display: block;
        /*height: 6rem;*/
        background: #c9bafb;

        .love-top-login-controller{
            position: absolute;
            top:1.3rem;
            width: 100%;
            height: 100%;
            
            .btn-login,.btn-download{
                display: block;
                height: .25rem;
                line-height: .25rem;
                margin: 0 auto .08rem auto;
                color: #fff;
                -webkit-border-radius: .04rem;
                border-radius: .03rem;
                border: none;
                font-size: .1rem;
                outline: 0;
                text-align: center;
                width: 1.7rem;
            }

            .btn-login{
                background: #ff5777;
            }

            .btn-download{
                color: #333;
                background: #fff;
            }

            .other-login{
                text-align: center;
                padding-top: .05rem;

                .iconqq{
                    margin-right: .1rem;
                    width: 1.42rem;
                    height: .35rem;
                    background-size: 100%;
                }

                .iconweibo{
                    margin-right: .1rem;
                    width: 1.5rem;
                    height: .35rem;
                    background-size: 100%;
                }
                
                a img{
                    width: .5rem;
                }
            }
            
        }
    }
}

/**
 * module 特色市场
 * author: sj;
 */
.love-feature-market{
    margin-bottom: $love-module-margin;

    .buy-markets{
        background: #fff;
        padding: $love-module-padding 0;

        .makets-title{
            font-size: .11rem;
            color: #333;
            text-indent: .08rem;
        }

        .makets-content .module-item{
            width: 25%;
            text-align: center;
            float: left;

            .item-logo {
                margin: .1rem;

                img{
                    margin: 0 auto;
                    display: block;
                    width: .37rem;
                    height: .37rem;
                }
            }

            .item-title{
                font-size: .1rem;
                line-height: 1;
                margin-bottom: .05rem;
                color: #424242;
            }

            .item-desc{
                font-size: .08rem;
                color: #999;
                line-height: 1;
            }
        }
   }
}

/**
 * module 限时抢购
 * author: hj;
 */
.love-flash-sale{    
    width: 100%;
    height: 1.24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background-color: $love-module-bgcolor;
    margin-bottom: $love-module-margin;

    .love-flash-main{
        -webkit-box-flex: 160;
        flex: 160 1 0% !important;
        width: 0px;
        max-width: 100%;
        display: block;
        position: relative;
        padding: 0px !important;
        text-align: center;

        .love-flash-title{
            line-height: 1.5;
            color: rgb(235, 47, 44);
            font-size: .1rem;
            .iconfont{
                font-size: .16rem;
            }
        }

        .love-count-down{
            font-size: .1rem;
        }

        .love-flash-item img{
            max-width: .85rem;
        }
    }

    .love-flash-list{
        -webkit-box-flex: 215;
        flex: 215 1 0% !important;
        width: 0px;
        max-width: 100%;
        display: block;
        position: relative;
        padding: 0px !important;

        .love-list-top{
            margin-bottom: .04rem;

            img{
                width: 100%;
            }
        }
        .love-list-bottom {
            .love-list-left{
                float: left;
                width: 48.5%;

                img{
                    width: 100%;
                }
            }
            .love-list-right{
                float: right;
                width: 48.5%;

                img{
                    width: 100%;
                }
            }
        }
    }
}

/**
 * module 图片分类
 * author: hj;
 */
.love-img-category{
    width: 100%;
    height: auto;
    padding: $love-module-padding;
    background: $love-module-bgcolor;

    .love-module-title{
        font-size: .11rem;
        color: $love-fc-dull-gray;
    }

    .love-category-list{
        width: 100%;

        .love-category-item{
            float: left;
            width: 25%;
            text-align: center;
            margin-top: .1rem;

            img{
                max-width: 66%;
                margin-bottom: .05rem;
            }

            .love-category-name{
                color: $love-fc-dull-gray;
                font-size: .1rem;
                line-height: 1.5;
            }

            .love-category-description{
                color: $love-fc-gray;
                font-size: .07rem;
                line-height: 1.5;
            }
        }
    }
}


/**
 * module 商品列表
 * author: hj;
 */
.love-item-list{
    width: 100%;
    padding: $love-module-padding;
    margin-top: -.06rem;
    margin-bottom: .4rem;
    height: auto;

    .love-item-main{
        position: relative;
        width: 49%;
        height: auto;
        float: left;
        padding: .04rem;
        margin-top: .18rem;
        background-color: #fff;
        border-bottom: 2px solid $love-brand-color; 

        .love-item-label{
            position: absolute;
            top: -.09rem;
            left: 50%;
            margin-left: -.16rem;
            z-index: 100;

            display: inline-block;
            height: .18rem;
            width: .32rem;
            overflow: hidden;
            font-size: .08rem;
            text-align: center;
            line-height: .18rem;
            background-color: #fff;
            border-radius: .09rem;
        }

        .love-item-img{
            width: 100%;
            display: inline-block;
            overflow: hidden;

            .love-img-detail{
                position: relative;
                padding-top: 100%;
                
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .love-item-content{
            width: 100%;
            height: .46rem;

            a{
                color: $love-fc-dull-gray;
                font-size: .104rem;
                line-height: 2;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;

            }
            p{
                color: $love-fc-gray;
                font-size: .07rem;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

/**
 * module 底部下载
 * author: hj;
 */
.love-footer-download{
    position: fixed;
    bottom: 0;
    z-index: 200;
    width: 100%;
    max-width: 750px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255, .8);
    
    /*.love-download-close{
        position: absolute;
        top: -.1rem;
        left: 4px;
        color: $love-fc-gray;
        font-size: .14rem;
    }*/

    img{
        position: absolute;
        top: -10px;
        left: 12px;
        width: 50px;
    }

    .love-download-btn{
        position: absolute;
        top: 10px;
        right: .08rem;
        display: inline-block;
        height: 30px;
        width: 90px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        background: $love-brand-color;
        color: #fff;
        font-size: 12px;
    }

    .love-site-slogan{
        position: absolute;
        left: 76px;
        font-size: 14px;
        color: $love-brand-color;
    }
}