* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a {
    text-decoration: none; 
}

li {
    list-style: none; 
}

img {
    vertical-align: middle;
    border: 0; 
}

html {
    font-size: 100px; 
}

body {
    font-size: 16px;
    font-family: "Helvetica Microsoft YaHei";
    background: #F6F6F6; 
}

/*Remove the ios bring their own style*/
input[type="text"],
input[type="submit"],
input[type="botton"] {
    -webkit-appearance: none;
    outline: none; 
}

/*Remove android&ios a/button/input the border&background around the label is clicked to produce*/
a,
button,
input,
div {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0); 
}

.clearfix:after {
    display: block;
    content: '';
    height: 0;
    width: 0;
    overflow: hidden;
    clear: both; 
}

.clearfix {
    zoom: 1; 
}

/*font color*/
/**
 * page index 
 * author: hj;
 */
.love-container {
    max-width: 750px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto; 
}

/*mbanner-top*/
.mbanner-top{
    width: 100%;
    height: .1rem;
    background: #EAEAEA;
    border:.01rem solid #E0E0E0;
}


.love-header {
    position: fixed;
    top: 0;
    /*left: 0;*/
    z-index: 1000;
    display: -webkit-flex;
    display: -webkit-box;
    width: 100%;
    max-width: 750px;
    line-height: 1.3;
    padding: .05rem .08rem;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    z-index: 200;

}
.love-header .love-menu-icon {
    display: inline-block;
    font-size: .14rem;
    color: #727272; 
}
.love-header .love-shopcar {
    display: inline-block;
    font-size: .14rem;
    color: #727272;
}
.love-header .love-header-search {
    /*display: -webkit-flex;*/
   /* display: -webkit-box;*/
    height: .2rem;
    margin: 0 .05rem;
    padding: 0 .02rem;
    color: #5e5e5e;
    width:1.9rem;
    overflow: hidden;
    text-align: center;
    line-height: .2rem;
    font-size: .13rem;
    font-weight: 800;
}


.lover-header-swiper{
    height: 1.2rem;
    width: 100%;
    overflow: hidden;
    margin-top: .3rem;
    position: relative;
}
.love-swiper{
    height: 1.2rem;
    width: 100%;
}
.love-swiper .item{
    width: 100%;
    height: 1.2rem;
}
.lover-header-swiper .love-icon{
    width: 100%;
    height: .25rem;
    position: absolute;
    top:.95rem;
    left:0;
}
.lover-header-swiper .love-icon img{
    width: 100%;
    height: .25rem;

} 


.lover-weekstar{
    /*width: 100%;
    height: auto;*/
    margin-top: .1rem;
    position: relative;
} 
.lover-weekstar .lover-weekstar-weekby{
    width: 100%;

}
.lover-weekstar .lover-weekstar-weekby img{
    width: 100%;
    height: 1.8rem;
}
.lover-weekstar .lover-weekstar-swiper{
    width: .8rem;
    height: 1.2rem;
    position: absolute;
    top:.5rem;
    left:0;
}
.lover-weekstar .lover-weekstar-swiper .swiper-title-content {
    color: rgb(255, 255, 255);
    text-align:center;
    padding:  0 .02rem;
}
.lover-weekstar .lover-weekstar-swiper .swiper-title-content .mainTitle{
    font-size: .14rem;
}
.lover-weekstar .lover-weekstar-swiper .swiper-title-content .subTitle {
    font-size: .08rem;
    padding-top:.06rem;
    padding-bottom: .15rem;
    font-family: 'Courier NEW', Arial, sans-serif;
}

.lover-weekstar .lover-weekstar-swiper .swiper-title-content .line{
    width: .2rem;
    height: .01rem;
    background:rgb(255, 255, 255); 
    text-align: center;
    margin: 0 auto;

}
.lover-weekstar .lover-weekstar-swiper .swiper-title-content .describe{
    font-size: .09rem;
    margin-top: .1rem;

}
/**/
.weekstar-swiper{
    width: 100%;
    height: auto;
    position: absolute;
    top:-.45rem;
    left: .8rem;
}

.weekstar-swiper .weekstar-swiper-img{
    width: 1.2rem;
    position: relative;
    margin-right: .1rem;
    display: block;
    float: left;
}
.weekstar-swiper .weekstar-swiper-img a img{
    width: 100%;
    height: 1.7rem;
}
.weekstar-swiper .weekstar-swiper-img .weekstar-swiper-star{
    width: 1.2rem;
    height: .7rem;
    position: absolute;
    top:1rem;
    left: 0;
    background: rgba(255, 255, 255, 0.701961);
    bottom: 0px;
}
.weekstar-swiper .weekstar-swiper-img .weekstar-swiper-star .star-title{
    text-align: center;
    font-size: .12rem;
    margin-top: .1rem;
    color: #7D7D7D;
}
.weekstar-swiper .weekstar-swiper-img .weekstar-swiper-star .star-icon{
    color: #7D7D7D;
    text-align: center;
    font-size: .08rem;
    height: .21rem;
    padding: .05rem .1rem;
    overflow: hidden;
    /*text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;*/
}
.weekstar-swiper .weekstar-swiper-img .weekstar-swiper-star .star-care{
    width: .45rem;
    height: .15rem;
    text-align: center;
    border: 1px solid #7D7D7D;
    float: left;
    margin-left: .1rem;
    margin-top: .05rem;
    line-height: .15rem;
    border-radius: 0.03rem;
    color: #7D7D7D;
}
 .weekstar-swiper .weekstar-swiper-img .weekstar-swiper-star .star-know{
    width: .45rem;
    height: .15rem;
    text-align: center;
    border: 1px solid #7D7D7D;
    float: right;
    margin-right: .1rem;
    margin-top: .05rem;
    line-height: .15rem;
    border-radius: 0.03rem;
    color: #7D7D7D;
 }


 .love-rednewper{
    background: #ffffff;
    padding-bottom: .1rem;
    width: 100%;
}
.love-rednewper .love-newer{
    font-size: .1rem;
    font-weight: bolder;
    padding: .2rem .1rem .2rem;
    color:#7D7D7D;

}
.love-rednewper .love-red{
    width: 100%;
    height: 1.9rem;
}
.love-rednewper .love-rednewper-img{
    width: 1.85rem;
    height: 1.9rem;
    margin: 0px auto;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 0.05rem;
}         
.love-rednewper .love-rednewper-img .rednewper-img{
    width: 2rem;
    text-align: center;    
}
.love-rednewper .love-rednewper-img .rednewper-img a{
    display: block;
    float: left;
    height: 1.3rem;
}
.love-rednewper .love-rednewper-img .rednewper-img .rednewper-img-first{
    margin-right: .05rem;
}

.love-rednewper .love-rednewper-img .rednewper-img a img{
    width: .9rem;
    height: 1.3rem;
    
}

.love-rednewper .love-rednewper-img .rednewper-title{
    clear: both;
}
.love-rednewper .love-rednewper-img .rednewper-title p{
    width: 100%;
    height: .2rem;
    font-size: .095rem;
    color:#7D7D7D; 
    background:rgb(245, 245, 245);
    line-height: .2rem;
}
 .love-rednewper .love-rednewper-img .rednewper-title .rednewper-name {
    width: .35rem;
    height:.2rem;
    margin: 0 auto;
 }
.love-rednewper .love-rednewper-img .rednewper-title .rednewper-name span{
    font-size: .11rem;
    line-height: .2rem;
    color: rgb(51, 51, 51);
}
.love-rednewper .love-rednewper-img .rednewper-title .rednewper-sale{
    width: 1.2rem;
    height: .1rem;
    margin: 0 auto;
}
.love-rednewper .love-rednewper-img .rednewper-title .rednewper-sale span{
    color:#7D7D7D;
    font-size:.1rem;
}


.love-newer{
    width: 100%;
    background: #ffffff;
     padding-bottom: .1rem;
}
.love-newer .love-newer-box{
    width: 100%;
    /*perspective: 0px;*/
}
.love-newer .love-newer-title{
    font-size: .1rem;
    font-weight: bolder;
    padding: .2rem .1rem .2rem;
    color:#7D7D7D;
}
.love-newer .love-newer-img{
    width: .833rem;
    float: left;
    position: relative;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transition: all .5s ease-out;
} 
.love-newer .love-newer-rotate{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.love-newer  .love-newer-box .love-newer-img img{
    width: 100%;
    height: 1.5rem;
}
.love-newer  .love-newer-box .love-newer-img .love-newer-padding{
    padding: .72rem .39rem;
    border: .008rem solid #ffffff;
    position: absolute;
    top:.02rem;
    left: .02rem;

}
.love-newer  .love-newer-box .love-newer-icon{
    width: .8rem;
    height: .7rem;
    position: absolute;
    top:.85rem;
    left: 0;
    padding-left: .05rem;
    text-align: center;
}
.love-newer  .love-newer-box .love-newer-icon .newer-icon1{
    color: #ffffff;
    font-size: .12rem;
    padding: .05rem 0;

}
.love-newer  .love-newer-box .love-newer-icon .newer-icon2{
    color: #ffffff;
    font-size: .08rem;
    padding: .05rem 0;
}
.love-newer  .love-newer-box .love-newer-icon span{
    display: block;
    width: .4rem;
    height: .15rem;
    color: #ffffff;
    font-size: .1rem;
    border: 0.01rem solid #ffffff;
    margin: 0 auto;
    line-height: .15rem;
    border-radius: .01rem;
}


.love-title{
    background: #f1f1f1;
    width: 100%;
    position: relative;
    /*z-index: 1;*/
    overflow: hidden;
   /* margin-top: .1rem;*/
}

.love-title .love-title-star {
    height:.4rem;
    width: 1rem;
    line-height: .4rem;
    margin: 0 auto;
    z-index: 2;
}
.love-title .love-title-star .title-choose{
    font-size: .11rem;
    color: #5E5E5E;
    position: relative;
    text-align: center;
    font-weight: 800;
}
.love-title .love-title-star .title-choose:before{
    display: block;
    content: '';
    height: 1px;
    width: 1rem;
    background: #e5e5e5;
    position: absolute;
    top: .2rem;
    left: -.9rem;
}
.love-title .love-title-star .title-choose:after{
    display: block;
    content: '';
    height: 1px;
    width: 1rem;
    background:#e5e5e5;
    position: absolute;
    top: .2rem;
    right: -.9rem;
}
.love-title .love-title-list{
    
    height: .6rem;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    background:#ffffff;                
}
.love-title .love-title-list a{

    display: block;
    float: left;
    color: #333;
    text-align: center;
    width:.625rem;
    height: .3rem;
    border-bottom: 1px solid #e5e5e5;

}
.love-title .love-title-list a div{
    font-size: .08rem;
    color: #333;
    text-align: center;
    width:.625rem;
    height: .1rem;
    margin-top: .1rem;
    border-right: 1px solid #e5e5e5;

}
.love-title .love-title-list .title-list3{
    color: #FF5778;
}



.love-imgs{
    padding-top: .1rem;
    background:#EAEAEA;
    width: 100%;
}
.love-imgs .J-love-li{
    display: none;
}
.love-imgs .love-imgs-box{
    width: 100%;
}

.love-imgs .love-imgs-box .imgs-box-img a img{
    height: 1.5rem;
    width: 100%;

}
.love-imgs .love-imgs-box ul li{
    display: block;
    float: left;
    padding-left: .1rem;
   /* margin-bottom: .1rem;*/
    width: 1.2rem;
    height: 2rem;
    /*padding-bottom: .1rem;*/
}
.love-imgs .love-imgs-box ul li .imgs-box-title{
  /*  color:*/ 
  font-size:.07rem;
  padding: .05rem 0;
  color: #757575;
}
.love-imgs .love-imgs-box ul li .imgs-box-title a{
    color:#999;
}
.love-imgs .love-imgs-box ul li span{
    font-size: .07rem;
}
.love-imgs .love-imgs-box ul li .imgs-box-price .box-price{
    color: #FF5778;
    float: left;
}
.love-imgs .love-imgs-box ul li .imgs-box-price .iconfont{
    color: #757575;
    float: right;
}