* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a {
    text-decoration: none; 
}

li {
    list-style: none; 
}

img {
    vertical-align: middle;
    border: 0; 
}

html {
    font-size: 100px; 
}

body {
    font-size: 16px;
    font-family: "Helvetica Microsoft YaHei";
    background: #F6F6F6; 
}

/*Remove the ios bring their own style*/
input[type="text"],
input[type="submit"],
input[type="botton"] {
    -webkit-appearance: none;
    outline: none; 
}

/*Remove android&ios a/button/input the border&background around the label is clicked to produce*/
a,
button,
input,
div {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0); 
}

.clearfix:after {
    display: block;
    content: '';
    height: 0;
    width: 0;
    overflow: hidden;
    clear: both; 
}

.clearfix {
    zoom: 1; 
}

/*font color*/
/**
 * page index 
 * author: hj;
 */
.love-container {
    max-width: 750px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto; 
}

/*mbanner-top*/
.mbanner-top{
    width: 100%;
    height: .1rem;
    background: #EAEAEA;
    border:.01rem solid #E0E0E0;
}


.love-header {
    position: fixed;
    top: 0;
    /*left: 0;*/
    z-index: 1000;
    display: -webkit-flex;
    display: -webkit-box;
    width: 100%;
    max-width: 750px;
    line-height: 1.3;
    padding: .05rem .08rem;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    z-index: 200; }
.love-header .love-menu-icon {
    display: inline-block;
    font-size: .14rem;
    color: #727272; }
.love-header .love-shopcar {
    display: inline-block;
    font-size: .14rem;
    color: #727272; }
.love-header .love-header-search {
    /*display: -webkit-flex;*/
   /* display: -webkit-box;*/
    height: .2rem;
    margin: 0 .05rem;
    padding: 0 .02rem;
    color: #5e5e5e;
    width:1.9rem;
    overflow: hidden;
    text-align: center;
    line-height: .2rem;
    font-size: .13rem;
    font-weight: 800;
     }

.love-app{
    width:100%;
    height: auto;
    margin-top: .3rem;
}


.love-flashsale{
    width: 100%;
    height: 1.3rem;
    overflow: hidden;
    position: relative;
}
.love-flashsale  .love-flashsale-down{
    position: absolute;
    top:.3rem;
    left: .05rem;
    width: 1.2rem;
    height: .1rem;
}
.love-flashsale  .love-flashsale-down span{
    font-size: .1rem;
}
.love-flashsale .love-flashsale-img{
    width: 50%;
    height: 1.3rem;
    border-right: 1px solid #F6F6F6;
    float: left;
}
.love-flashsale .love-flashsale-img a img{
    width: 100%;
    height: 1.3rem;
}
.love-flashsale .love-flashsale-style{
    width: 50%;
    height: 1.3rem;
    float: left;
}
.love-flashsale .love-flashsale-style .flashsale-style1{
    width: 100%;
    height: .7rem;
}
.love-flashsale .love-flashsale-style .flashsale-style2{
    border-top: 1px solid #F6F6F6;
}
.love-flashsale .love-flashsale-style .flashsale-style1 a img,
.love-flashsale .love-flashsale-style .flashsale-style2 a img
{
    width: 100%;
    height: .7rem;
}


.love-img-category {
    width: 100%;
    height: auto;
    padding: 0.08rem;
    background: #fff; 
}
.love-img-category .love-module-title {
    font-size: .11rem;
    color: #333;
}
.love-img-category .love-category-list {
    width: 100%; 
}
.love-img-category .love-category-list .love-category-item {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: .1rem; 
}
.love-img-category .love-category-list .love-category-item  a img {
    width: 100%;
    height: .55rem;
    margin-bottom: .05rem; 
}
.love-img-category .love-category-list .love-category-item .love-category-name {
    color: #333;
    font-size: .1rem;
    line-height: 1.5; }
.love-img-category .love-category-list .love-category-item .love-category-description {
    color: #666;
    font-size: .07rem;
    line-height: 1.5;
 }


 .love-new{
    margin: .1rem 0;
    width: 100%;
}
.love-new .love-new-cloth1{
    float: left;
    padding: 0 .1rem;
    width: 50%;
}
.love-new .love-new-cloth1 a img,
.love-new .love-new-cloth2 a img{
    width: 100%;
    height:1.5rem;
}
.love-new .love-new-cloth2{
    width: 50%;
    float: left;
    padding-right:.1rem;
}

.love-title{
    background: #EAEAEA;
    width: 100%;
    position: relative;
    /*z-index: 1;*/
    overflow: hidden;
}

.love-title .love-title-star {
    height:.4rem;
    width: 1rem;
    line-height: .4rem;
    margin: 0 auto;
    z-index: 2;
}
.love-title .love-title-star .title-star{
    height:.4rem;
    float: left;
    margin-left: .2rem;
}
.love-title .love-title-star .title-star .iconfont{
    color: #FF5778;
    font-size: .16rem;
    padding: 0 .04rem;
}
.love-title .love-title-star .title-choose{
    font-size: .11rem;
    color: #9C9C9C;
    position: relative;
}
.love-title .love-title-star .title-choose:before{
    display: block;
    content: '';
    height: 1px;
    width: 1rem;
    background: #e5e5e5;
    position: absolute;
    top: .2rem;
    left: -.8rem;
}
.love-title .love-title-star .title-choose:after{
    display: block;
    content: '';
    height: 1px;
    width: 1rem;
    position: absolute;
    top: .2rem;
    right: -.9rem;
}
.love-title .love-title-list{
    width: 100%;
    height: .2rem;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
}
.love-title .love-title-list a{
    font-size: .1rem;
    padding: 0 .16rem;
    line-height: .2rem;
    color:#666;
}
.love-title .love-title-list .title-list1{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.love-title .love-title-list .title-list2{
    border-right: 1px solid #e5e5e5;
}
.love-title .love-title-list .title-list3{
    color: #FF5778;
}


.love-imgs{
    padding-top: .1rem;
    background:#EAEAEA;
    width: 100%;
}
.love-imgs .J-love-li{
    display: none;
}
.love-imgs .love-imgs-box{
    width: 100%;
}

.love-imgs .love-imgs-box .imgs-box-img a img{
    height: 1.5rem;
    width: 100%;

}
.love-imgs .love-imgs-box ul li{
    display: block;
    float: left;
    padding-left: .1rem;
   /* margin-bottom: .1rem;*/
    width: 1.2rem;
    height: 2rem;
    /*padding-bottom: .1rem;*/
}
.love-imgs .love-imgs-box ul li .imgs-box-title{
  /*  color:*/ 
  font-size:.07rem;
  padding: .05rem 0;
  color: #757575;
}
.love-imgs .love-imgs-box ul li .imgs-box-title a{
    color:#999;
}
.love-imgs .love-imgs-box ul li span{
    font-size: .07rem;
}
.love-imgs .love-imgs-box ul li .imgs-box-price .box-price{
    color: #FF5778;
    float: left;
}
.love-imgs .love-imgs-box ul li .imgs-box-price .iconfont{
    color: #757575;
    float: right;
}

